.loading-screen {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(255, 255, 255, 0.8); /* 半透明の白背景 */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: bold;
  color: #333;

  z-index: 9999; /* 手前に表示 */
}