.item-create-page {
  min-height: 100%;
  background-color: #f5f5f5;
}

.item-create-header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}

.item-create-main {
  padding: 16px;
}
